body {
    font-family:'Montserrat', sans-serif;
    margin: 0;
    width: 100%;
    background: #9ad993;

}

.site-header {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    background: url("../img/back_1.png");
}

.logo {
    height: 400px;
    width: 520px;
}

.menu {
    display: block;
    margin-top: 6%;
}

ul.topnav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-top: 3%;
}


ul.topnav li {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 12px 18px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 24px;
    font-family: 'Montserrat', monospace;
}

ul.topnav li:hover {
    color: gray;
}

.input-position {
    margin-left: 13%;
    margin-top: 2%;
}

.menu-input {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.52);
    border-radius: 10%;
    background-color: #202224;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.19) 0%, rgba(0, 0, 0, 0.19) 100%);
}





 
 