body {
    background-color: rgb(187, 248, 203)
}


.logo {
    width: 200px;
height: 100px;
}

.header {
    display: flex;
    width: 100%;
    height: 200px;
    background-image: url(../img/pngtree-Wheat-Cereal-Field-Rural-photo-116537.jpg);
    justify-content: space-around;
    align-items: center;
    color: white;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.menu>li {
    margin-left: 10%
}

.product-group {
    font-size: 20px;
    margin: 3%;
    border: 1px solid green;
    width: 14%;
    background-color: honeydew;
}

.group-name {
text-align: center;
padding: 5% 0;
background-color: aqua;
font-weight: 600;
}

.text-weight {
    margin: inherit;
    font-weight: 600;
    padding: 2% 5%;
}

.text {
    font-size: 18px;
    padding: 0 4%;
}

.block {
    
}

.prodact {
    border: 1px green solid;
}